<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {{ encore_entry_link_tags('css/bootstrap') }}
        {{ encore_entry_link_tags('css/user-bundle') }}
    </head>
    <body>
        <div>
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                {#</a>#}
            {#{% else %}#}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
            {#{% endif %}#}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        {# {{ encore_entry_script_tags('js/jquery') }} #}
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        {{ encore_entry_script_tags('js/bootstrap') }}
    </body>
</html>
